{
  "presets": [
    [
      "@babel/env",
      {
        "debug": true,
        "targets": {
          "node": "12"
        },
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
